.navbar {
  background-color: rgb(241, 241, 241);
  width: 100vw;
  height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.icon {
  height: 75px;
  display: flex;
}
.mobile_icon {
  display: flex;
  flex-direction: row;
  gap: 12rem;
}

.category_span {
  display: none;
}
.login_chart {
  display:none;
} 

.menu_icon {
 display: none;
}

@media screen and (min-width: 425px) {
  .mobile_icon {
    gap: 16rem;
  }
}
.primary_icon {
  height:20px;
}

@media screen and (min-width: 768px) {
  .icon {
    position: relative;
    left:3rem;
  }
  .navbar {
    display:grid;
    grid-template-columns: 2fr 2fr 4fr;
  }
  .menu_icon {
    display:none;
  }
  .category_span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:3rem;
    position:relative;
    left:2rem;
    white-space: nowrap;
  }
  .category_span span {
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .login_chart {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    align-items: center;
  }

  .sign_up {
    background-color: rgb(12, 91, 194);
    color:white;
    height:40px;
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .menu_icon {
    display: none;
  }
}
