@import url("https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.hero-section {
  height: 50vh;
  background-image: url("src/images/bg-tele.jpg");
  background-size: cover;
  display: flex;
  color: white;
  text-align: center;
}

.hero-content {
  display: flex;
  padding-top: 60px;
  font-family: "Nobile", sans-serif;
  font-weight: 400;
  position: relative;
}

.hero-content h1 {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}
.hero-content h2 {
  color:rgb(12, 46, 90);
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

.hero-image {
  display: none;
}

.hero-button {
  --primary-color: rgb(12, 46, 90);
  --hovered-color: #ffffff;
  position: relative;
  display: flex;
  font-weight: 600;
  flex-direction: row;
  gap: 1rem;
  width: fit-content;
  font-size: 28px;
  align-items: center;
}

.hero-button p {
  margin: 0;
  position: relative;
  font-size: 28px;
  color: var(--primary-color);
}

.hero-button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -2px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.hero-button p::before {
  position: absolute;
  content: "¡Agenda tu Cita!";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.hero-button:hover::after {
  width: 100%;
}

.hero-button:hover p::before {
  width: 100%;
}

.hero-button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.hero-button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 32px;
  transition-delay: 0.2s;
}

@media screen and (min-width: 1024px) {
  .main_text {
    display:flex;
    flex-direction: column;
    position:relative;
    left:5rem;
    text-align: start;
  } 

  .main_text h1 {
    font-size: 22px;
  }

  .main_text p {
    font-size: 20px;
  }

  .hero-content {
    display: flex;
    flex-direction: row;
    gap: 20rem;
  }
  .hero-content p {
    text-align: justify;
  }
  .hero-image {
    display: block;
    position: absolute;
    right: 27rem;
    z-index: 2;
    height: 300px;
    bottom: 3rem;
    left: 0.3px;
    top: 116px;
    overflow:hidden;

  }
  .section_button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (min-width: 1400px) { 
  .main_text {
    left: 4rem; 
  } 

  .main_text p {
    white-space: nowrap;
    font-size: 24px;
  }
  .main_text h1 {
    font-weight: 700; 
  }
  .section_button {
    left:25rem;
  }
  .section_button p {
    font-size: 23px;
  }
  .hero-image {
    right:23rem;
  }
}

@media screen and (min-width: 1600px) {

  .main_text {
    left:-6rem;
  }

  .hero-image {
    height: 400px;
    top: 59px;
  }

  .hero-content {
    gap: 40rem;
  }

  .hero-content p {
    font-size: 1.6rem;
    width: fit-content;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h2 {
    font-size: 2rem;
  }
  .section_button {
    position: relative;
    left: 22rem;
    top: 3rem;
  }
}
