@import url("https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-light-background {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: black;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px #ffffff00;
    }

    .input-dark-background {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: white;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px #ffffff00;
    }
}

html{
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nobile", sans-serif;
}

/* Estilos para el Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3b83f6a8;
}


/* Eliminar las flechas del Input Number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

textarea{
    resize: none;
}